{
  "extends": ["standard", "prettier"],
  "plugins": ["standard", "promise", "prettier"],
  "env": {
    "jquery": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "trailingComma": "none",
        "singleQuote": true,
        "printWidth": 120
      }
    ]
  }
}
