<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>
        {{ partial "header.html" . }}

        {{ partial "home_info_section_1.html" . }}

        {{ partial "home_info_section_2.html" . }}

        {{ partial "home_info_section_3.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "goTo/see_product.html" . }}

        {{ partial "footer.html" . }}

        {{ partial "bottom.html" . }}

        {{ partial "scripts.html" . }}
  </body>
</html>
