{{ if isset .Site.Params "testimonials" }}
{{ if .Site.Params.testimonials.enable }}
{{ if gt (len .Site.Data.testimonials) 0 }}
<section class="content testimonials-section">
    <div class="container">
        <h2 class="title is-3 has-text-centered">{{ .Site.Params.testimonials.title }}</h2>
        <div class="owl-carousel owl-theme testimonials same-height-row">
            {{ range .Site.Data.testimonials }}
            <div class="item has-text-centered">
                <div class="testimonial same-height-always">
                    <div class="text">
                        <p>{{ .text | markdownify }}</p>
                    </div>
                    <span class="author">{{ .name }}</span>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
{{ end }}
